* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
    all: unset;
}

@media screen and (orientation: landscape) {
    .promotion-header {
        width: 343px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
    }
}

@media screen and (orientation:portrait) {
    .promotion-header {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
    }
}

.promotion-title {
    color: #FF6B82;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
}

.promotion-header hr {
    flex: 1;
    border: 0.9px solid #C8C8C8;
}

section {
    margin-top: 10px;
    border: 0.9px solid #C8C8C8;
    padding: 14px 24px 14px 24px;
}

/* Option Card */
.option-card {
    display: flex;
    justify-content: space-between;
}

.option-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.unit-title {
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 800;
}

.unit-discount {
    background-color: #FF6B82;
    font-size: 12px;
    font-weight: 400;
    padding: 1px 6px 1px 4px;
    color: white;
    border-radius: 1px;
    margin-left: 4px;
}

.unit-title+p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}

.price-current {
    font-size: 14.46px;
    font-weight: 400;
    line-height: 17.5px;
}

.price-original {
    font-size: 10px;
    font-weight: 500;
    line-height: 12.1px;
    text-decoration: line-through;
    color: #C8C8C8;
}

.custom-radio {
    outline: none;
    accent-color: red;
}

select {
    outline: none;
    width: 65.98px;
    height: 25.31px;
    border-radius: 1.81px 0px 0px 0px;
    border: 0.9px solid #D9D9D9;
    opacity: 0px;
    padding: 1px 3px;

}

.option-card:hover {
    cursor: pointer;
}

/* Option Card */
.option-card-2,
.option-card-3 {
    display: flex;
    justify-content: space-between;
}

.delivery-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 2px;
}

.delivery-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: #FF6B82;
}

.total-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
}

.add-to-cart-btn {
    margin-top: 10px;
    background-color: #FF6B82;
    border: none;
    color: white;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    outline: none;
}

.plus-icon {
    font-size: 14px;
}

.options-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.select-group {
    display: flex;
    flex-direction: column;
}

.size-select,
.color-select {
    margin-top: 8px;
}

.select-label {
    font-size: 12px;
    margin-bottom: 2px;
}

.select-title {
    font-size: 11px;
    font-weight: 400;
    line-height: 12.03px;
    margin-bottom: 4px;
}



.dynamic-select {
    border: 1px solid red;
}
















